@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
// Config vars
// 🍮🐈 Pastel Color Palette
// Primary Bg Color
// Accents
$yolk:            #FCF5E0
$pastel-red:      #FAE4D2
$pastel-corn:     #FDF0BC
$pastel-blue:     #DAF1F3
$pastel-blueDark: #BFE7E8
$pastel-green:    #E0F2D2
$pastel-green2:   #97E3A6
$pastel-violet:   #D6DFF1
$paste-redDark:   #F5D1C9
$body-color:      #1E2627


// All Text


// // // // // // // // //
// Template Colors
// // // // // // // // //
$navbar-background-color: $yolk
$pastel-green-invert: #fff
// $primary: $body-color
// $primary-invert: $pastel-green-invert
svg.navlogoico
  fill: $pastel-green2
  margin: 1rem

.logotxt
  font-family: 'Bungee Shade', cursive
  font-size: 30px

.layout
  background-color: $yolk

.navbar .container
  // box-shadow:none !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

@import "~bulma"
